<header>
    <div class="container">
        <div class="clearfix">
            <div class="logo">
                <a title="Linkliste.NRW - Die Welt zu Gast in NRW" href="{{ path('pspiess_blog_homepage') }}" ><img src="{{ asset('resources/images/blog/logo.png')}}"></a>
                    {#                <a href="{{ path('pspiess_blog_homepage') }}" >Linkliste-NRW - <span class="color_text slogan">Die Welt zu Gast in NRW</span></a>#}
            </div>
        </div>
    </div>
    <div class="menu_block clearfix">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
            </div>
        </div>
    </div>
</header>

<section class="full_width breadcrumbs_block clearfix">
    <div class="container"></div>
    <div class="overlay"></div>
    <div class="overlay_black"></div>
</section>