{% extends 'pspiessContentBundle::layout.html.twig' %}
{% set menu = 'index' %}

{% block title %}Folien bearbeiten Admin{% endblock %}

{% block header %}
    {{ parent() }}
{% render controller('pspiessContentBundle:Navigation:header', {'header': 'Folie ändern'}) %}

<div class="container">
    <div class="span12">
        <div class="row">
            {{ form(edit_form) }}
            {{ form(delete_form) }}
            <a class='btn btn-info' href="{{ path('slider') }}">Zurück zur Übersicht</a>
        </div>
    </div>
</div>
{% endblock %}
